# MST Blockchain Testnet Configuration
RPC_URL=https://testnetrpc.mstblockchain.com
PRIVATE_KEY=0xYOUR_TESTNET_PRIVATE_KEY
RECIPIENT=0xBRIDGEKEY_TEST_RECIPIENT_ADDRESS
CONTRACT_ADDRESS=0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D
PORT=5000
