RPC_URL=https://testnetrpc.mstblockchain.com
CONTRACT_ADDRESS=
RELIEF_CONTRACT_ADDRESS=

ADMIN_KEY=
REGISTRAR_KEY=
ARBITER_KEY=
ASSESSOR_KEY=
OFFICER1_KEY=
OFFICER2_KEY=
NEIGHBOR1_KEY=
NEIGHBOR2_KEY=
NEIGHBOR3_KEY=
LEADER_KEY=
NGO_KEY=
